@model HomeViewModel

<h1>Painel de gerenciamento de biblioteca</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Quantidade de cliente(s)
            </div>
            <div class="panel-body">
                Existem @Model.QuantidadeDeClientes cliente(s)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Quantidade de autor(es)
            </div>
            <div class="panel-body">
                Existem @Model.QuantidadeDeAutores autor(es)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Quantidade de livro(s)
            </div>
            <div class="panel-body">
                Existem @Model.QuantidadeDeLivrosDisponiveis livro(s) disponíveis de @Model.QuantidadeDeLivros livros
            </div>
        </div>
    </div>
</div>
