@model Autor

<div class="row orderForm">
    <form asp-controller="Autor" asp-action="Editar" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Alterar o autor @Model.Nome</h3>
        @Html.HiddenFor(m => Model.AutorId)
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Retornar" asp-controller="Autor" asp-action="Listar" />
                <input class="btn btn-success" type="submit" value="Alterar" />
            </div>
        </div>
    </form>
</div>