@model LivroViewModel

<div class="row orderForm">
    <form asp-controller="Livro" asp-action="Cadastrar" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Cadastrar novo Livro</h3>
        <div class="form-group">
            <label asp-for="Livro.Autor" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Livro.AutorId,
                                                 new SelectList(Model.Autores.Select(x => new { Value = x.AutorId, Text = x.Nome }), "Value", "Text"), "Selecione o autor",
                                                 htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Livro.Autor" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success" style="width:100%" asp-controller="Autor" asp-action="Cadastrar">Cadastrar um autor</a>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="Livro.Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Livro.Titulo" class="form-control" placeholder="Título do livro" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Voltar" asp-controller="Livro" asp-action="Listar" />
                <input class="btn btn-success" type="submit" value="Cadastrar" />
            </div>
        </div>
    </form>
</div>
