@model LivroViewModel

<div class="row orderForm">

    <form asp-controller="Livro" asp-action="Editar" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Alterar livro</h3>
        @Html.HiddenFor(m => Model.Livro.LivroId)
        <div class="form-group">
            <label asp-for="Livro.Autor" class="col-md-2 control-label"></label>
            <div class="col-md-6">

                @Html.DropDownListFor(m => m.Livro.AutorId,
                                           new SelectList(Model.Autores.Select(x => new { Value = x.AutorId, Text = x.Nome }), "Value", "Text"),
                                                     htmlAttributes: new { @class = "form-control border-input" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Livro.Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Livro.Titulo" class="form-control" placeholder="Enter book title" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Voltar" asp-controller="Livro" asp-action="Listar" />
                <input class="btn btn-success" type="submit" value="Alterar" />
            </div>
        </div>
    </form>
</div>
